absl-py==1.2.0
appnope==0.1.3
astunparse==1.6.3
backcall==0.2.0
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.2.0
cycler==0.12.1
decorator==5.1.1
filelock==3.13.1
Flask==2.2.2
Flask-Cors==3.0.10
flatbuffers==1.12
fonttools==4.47.0
fsspec==2023.12.2
gast==0.4.0
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h5py==3.7.0
idna==3.3
importlib-metadata==4.12.0
ipython==7.34.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jsonify==0.5
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mpmath==1.3.0
Naked==0.1.32
networkx==3.2.1
numpy==1.26.2
oauthlib==3.2.0
opencv-python==4.8.1.78
opt-einsum==3.3.0
packaging==21.3
pandas==2.1.4
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.7
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.11.4
seaborn==0.13.0
six==1.16.0
status==0.2.5
sympy==1.12
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
thop==0.1.1.post2209072238
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
traitlets==5.3.0
typing_extensions==4.3.0
tzdata==2023.3
ultralytics==8.0.228
urllib3==1.26.12
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.8.1
(venv) Ondrej-MacBook-Pro:gan-palmyre ondrejsvojse$ ls
Fig1.png                Requirements.txt        gan-project-czu.iml     input29__100x100.png    test.py
PredictionResponse.py   __pycache__             input126__100x100.png   runs                    venv
README.md               app.py                  input186__100x100.png   static
(venv) Ondrej-MacBook-Pro:gan-palmyre ondrejsvojse$ pip freeze
absl-py==1.2.0
appnope==0.1.3
astunparse==1.6.3
backcall==0.2.0
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.2.0
cycler==0.12.1
decorator==5.1.1
filelock==3.13.1
Flask==2.2.2
Flask-Cors==3.0.10
flatbuffers==1.12
fonttools==4.47.0
fsspec==2023.12.2
gast==0.4.0
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h5py==3.7.0
idna==3.3
importlib-metadata==4.12.0
ipython==7.34.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jsonify==0.5
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mpmath==1.3.0
Naked==0.1.32
networkx==3.2.1
numpy==1.26.2
oauthlib==3.2.0
opencv-python==4.8.1.78
opt-einsum==3.3.0
packaging==21.3
pandas==2.1.4
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.7
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.11.4
seaborn==0.13.0
six==1.16.0
status==0.2.5
sympy==1.12
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
thop==0.1.1.post2209072238
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
traitlets==5.3.0
typing_extensions==4.3.0
tzdata==2023.3
ultralytics==8.0.228
urllib3==1.26.12
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.8.1